<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
{{content}}
<p>Willkommen! Zu der besten Pizzaria auf der Welt!</p>
<img src='/images/pizza.jpg' alt="ze pizza mamma mia">
<form action='/orders' method='get'><input type='submit' value='Order a Pizza'></form>
{{test}}
{{test2.hello}}
{{test2.world}}
{{#each test3}}
    {{@index}}
    {{../test2.hello}}
    {{hans}}{{ueli}}

{{/each}}
</body>
</html>