<div class="container">
    <div class="row">
        <form action='/new' method='get'>
            <input class="col-md btn btn-primary" type='submit' value='create new Note'>
        </form>

        <select class="col-md-2" onchange="this.form.submit()">
            <option selected>Default</option>
            <option>Dark</option>
        </select>

    </div>
    <div class="row">
        <form action='/?orderby=dueDate' method='post'>
            <input type="submit" class="btn btn-primary" value="order by due date"/>
        </form>
        <input type="button" class="btn btn-primary" value="order by creation date"/>
        <input type="button" class="btn btn-primary" value="order by importance"/>
        <input type="button" class="btn btn-primary" value="hide finished"/>
    </div>
    <div class="row">
        <table>
            <tr>
                <th class="col-md-2">Task completion</th>
                <th class="col-md-6">Title</th>
                <th class="col-md-2">Creation Date</th>
                <th class="col-md-2">Importance</th>
            </tr>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>

            {{#each notes}}
                <tr>
                    <td class="col-md-2">
                        {{#unless done}}
                            <p>{{dueDate}}</p>
                        {{/unless}}
                        <p>is finished: {{{done}}}</p>
                    </td>
                    <td class="col-md-6">
                        <h3>{{title}}</h3>
                        <textarea readonly>{{description}}</textarea>
                    </td>
                    <td class="col-md-2">{{creationDate}}</td>
                    <td class="col-md-2">
                        {{{importance}}}
                    </td>
                    <td class="col-md-1">
                        <input class="btn btn-primary" type="button" value="edit">
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>