<div class="container">

    <div class="grid-container-filter">
        <div>
            <form action='/new' method='get'>
                <input class="btn" type='submit' value='create new Note'>
            </form>
        </div>
        <div></div>
        <div></div>
        <div>
            <form action='/' method='post'>
                <select class="col-md-2" onchange="this.form.submit()">
                    <option selected>Default</option>
                    <option>Dark</option>
                </select>
            </form>
        </div>

        <div>
            <form action='/?orderby=dueDate' method='post'>
                <input type="submit" class="btn" value="order by due date"/>
            </form>
        </div>
        <div>
            <form action='/?orderby=creationDate' method='post'>
                <input type="submit" class="btn" value="order by creation date"/>
            </form>
        </div>
        <div>
            <form action='/?orderby=importance' method='post'>
                <input type="submit" class="btn" value="order by importance"/>
            </form>
        </div>
        <div>
            <form action='/?hide=true' method='post'>
                <input type="submit" class="btn" value="hide finished"/>
            </form>
        </div>
    </div>

    <div class="grid-container-main">
        <div class="grid-item"><h2>Task completion</h2></div>
        <div class="grid-item"><h2>Title</h2></div>
        <div class="grid-item"><h2>Creation Date</h2></div>
        <div class="grid-item"><h2>Importance</h2></div>
        <div class="grid-item"></div>

        {{#each notes}}
            <div class="grid-item">
                {{#unless done}}
                    <p>{{dueDate}}</p>
                {{/unless}}
                <p>is finished: {{{doneString}}}</p>
            </div>
            <div class="grid-item">
                <h3>{{title}}</h3>
                <textarea class="indexTextArea" readonly>{{description}}</textarea>
            </div>
            <div class="grid-item"><p>{{creationDate}}</p></div>
            <div class="grid-item"><p>{{{importanceString}}}</p></div>
            <div class="grid-item">
                <form action='/edit?id={{id}}' method='post'>
                    <input class="btn right-item" type="submit" value="edit">
                </form>
            </div>
        {{/each}}
    </div>

</div>